.cards {
    width: calc(100% - 140px);
    margin: 0 auto 0 auto;
    padding: 70px 0 28px 0;
    box-sizing: border-box;
}

.cards__list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 60px 30px;
}

.cards_saved {
    padding: 70px 0 102px 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) { 
    .cards {
        width: 708px;
        padding-bottom: 12px;
    }

    .cards__list {
        grid-template-columns: 339px 339px;
        gap: 47px 30px;
    }

    .cards_saved {
        padding-bottom: 37px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) { 
    .cards {
        width: 300px;
        padding: 40px 0 13px 0;
    }

    .cards__list {
        grid-template-columns: 300px;
        gap: 39px 0;
    }

    .cards_saved {
        padding-bottom: 13px;
    }
}